* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.priority-wrapper {
  background: #ffffff;
  box-shadow: 0px 2.25px 4.5px rgba(0, 0, 0, 0.12);
  border-radius: 7.875px;
  height: 30px;
  margin: 10px;
  width: 180px;
}

.priority-wrapper .dropdownJpWrapper .dropdownTopDiv {
  position: relative;
}

.priority-wrapper .dropdownJpWrapper .selecteditem {
  background: #ffffff;
  /* border: 1.13651px solid #000000; */
  box-sizing: border-box;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 7.9556px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 11px 5px;
  font-size: 12px;
}
.priority-wrapper .dropdownJpWrapper .styleLeftImg {
  width: 17px;
}

.priority-wrapper .dropdownJpWrapper .filter-section-drop {
  border-radius: 20px;
  height: 25px;
  width: 170px;
}

.priority-wrapper .dropdownJpWrapper .dropdownToBeSelected {
  position: absolute;
  top: 30px;
  background: #ffffff;
  border: none;
  border-top: none;
  box-sizing: border-box;
  border-radius: 0 0 7.9556px 7.9556px;
  width: 100%;
  z-index: 9999;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}
.priority-wrapper .dropdownJpWrapper .dropdownUl {
  padding: 10px 0px;
}
.priority-wrapper .dropdownJpWrapper .dropdownLi {
  list-style-type: none;
  text-align: center;
  cursor: pointer;
  width: 100%;
  padding: 3px 0px;
}
.priority-wrapper .dropdownJpWrapper .imgSpace {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1%;
}
.priority-wrapper .dropdownJpWrapper .dropdownLi:hover {
  background: #ddecff;
}
.priority-wrapper .dropdownJpWrapper .filter-style {
  border: none !important;
  background: none !important;
}
.priority-wrapper .dropdownJpWrapper .filter-ul {
  padding: 0 !important;
}

.priority-wrapper .dropdownJpWrapper .selectedNotValidated {
  border: 1px solid red;
}
.priority-wrapper .dropdownJpWrapper .selectedValidated {
  border: 0.906992px solid #000000;
}

.priority-wrapper .dropdownJpWrapper .ddSelectedItemPara {
  font-size: 16px;
  text-align: center;
}

.priority-wrapper .dropdownJpWrapper .dropdownSearchWrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.priority-wrapper .dropdownJpWrapper .dropDownSearchInput {
  background-color: #ffffff;
  width: 100%;
  padding: 5px 5px;
  outline: none;
  border: none;
  border-radius: 8.16293px;
}

.priority-wrapper .dropdowndListArea {
  height: 130px !important;
}

.callingcondition-wrapper .priority-wrapper tr {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.callingcondition-wrapper .priority-wrapper td {
  width: 30%;
}

.priority-wrapper .selecteditem {
  height: 30px !important;
}
.priority-wrapper .dropdownJpWrapper .ddSelectedItemPara{
    font-size: 14px !important;
}