.schedulerOmniWrapperModal {
  /* width: 70%; */
  margin-left: 2%;
  background: #ffffff;
  box-shadow: 0px 226.596px 181.276px rgba(36, 69, 152, 0.05),
    0px 114.714px 79.0252px rgba(36, 69, 152, 0.03375),
    0px 45.3191px 29.4574px rgba(36, 69, 152, 0.025),
    0px 9.91355px 10.48px rgba(36, 69, 152, 0.01625);
  /* padding: 2% 3%;
  height: 65vh; */
   min-height: 65vh; 
   
}
.schedulerOmniWrapperModal .OuterDiv {

  padding: 2% 3%;
  
}

.schedulerOmniWrapperModal .ContainDiv {
  display: flex;
  /* width: 100%; */
  /* justify-content: center; */
  margin-bottom: 2%;
  align-items: center;
}
.schedulerOmniWrapperModal .logoNameDiv {
  display: flex;
  width: 45%;
  align-items: center;
  /* margin-left: 6%; */
}
.schedulerOmniWrapperModal .TwoDropDownDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 55%; */
}
.schedulerOmniWrapperModal .dropDownDiv {
  display: flex;
  align-items: center;
  width: 50%;
}
.schedulerOmniWrapperModal .OuterDiv {
  /* width: 80%; */
  /* margin: 5%; */
}
.schedulerOmniWrapperModal .heading {
  margin-left: 3%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
}
.schedulerOmniWrapperModal .staticDiv {
  width: 30%;
  height: 31.26px;
  background: #0174ff;
  border-radius: 7px;
  border: 0.982333px solid #d8d8d8;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}
.schedulerOmniWrapperModal .gapBtn {
  margin-left: 7%;
}
.schedulerOmniWrapperModal .staticDivHuman {
  width: 30%;
  height: 31.26px;
  background: #ffffff;
  border: 1px solid #ddecff;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #9e9e9e;
  cursor: pointer;
}

.schedulerOmniWrapperModal .midDate {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddecff !important;
  border-radius: 7px;
  width: 230.24px;
  height: 31.43px;
}
.schedulerOmniWrapperModal .languageDropdown {
  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: normal !important;
  /* font-size:19.6467px !important; */
  font-size: 16px !important;
  font-family: "Roboto";
  color: #000000 !important;
  box-shadow: none !important;
  background: #ffffff !important;

  /* width: 209.24px; */
  width: 250.24px;
  height: 31.43px;
  box-sizing: border-box !important;
  margin: 0 !important;
  border: 1px solid #ddecff !important;
  border-radius: 7px;
}
.schedulerOmniWrapperModal .filterDataTobeSelected {
  position: absolute;
  top: 35px;
  background: #ffffff;
  border-top: none;
  box-sizing: border-box;
  /* border-radius: 0 0 7.9556px 7.9556px; */
  width: 230.24px !important;
  z-index: 9999;
  box-shadow: 0px 71.3652px 57.0921px rgb(36 69 152 / 5%),
    0px 36.1286px 24.8886px rgb(36 69 152 / 3%),
    0px 14.273px 9.27747px rgb(36 69 152 / 3%),
    0px 3.12223px 3.30064px rgb(36 69 152 / 2%);
}
.schedulerOmniWrapperModal .rc-time-picker {
  padding-left: 10px;
}
.schedulerOmniWrapperModal .rc-time-picker a {
  display: none !important;
}

.schedulerOmniWrapperModal .time-range-div .rc-time-picker-input {
  font-weight: 600 !important;
  font-size: 14px;
  border: none;
  color: black;
}

.schedulerOmniWrapperModal input[type="text"] {
  padding: 0%;
}

.schedulerOmniWrapperModal .rc-time-picker-clear-icon:after {
  content: none;
}
.schedulerOmniWrapperModal .buttonSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 1%;
}
.schedulerOmniWrapperModal .submitOmni {
  width: 16% !important;
  padding: 0.6% 0;
  background: #0174ff;
  border-radius: 7px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
}
.schedulerOmniWrapperModal .viewMindMapOmni {
  width: 16% !important;
  padding: 1% 0;
  background: #0174ff;
  border-radius: 7px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
}
.schedulerOmniWrapperModal .viewMapBtn {
  padding-left: 7%;
  padding-top: 1%;
}
.schedulerOmniWrapperModal .extraPlaceHolderStyle {
  color: #0174ff !important;
}

.schedulerOmniWrapperModal .timePickercont .time-select {
  border: 0px;
}

.schedulerOmniWrapperModal .midDate {
  width: 200px;
}
.schedulerOmniWrapperModal .headingDispositionBasedFollow{
  font-size: 16px;
  font-weight: 700;
  color: #333333
}
.schedulerOmniWrapperModal .headingDispositionBasedFollowPara{
  font-size: 14px;
  color: #676767;
  margin-left: 2%;
}
.schedulerOmniWrapperModal .dbcWpdivfirst{
  padding-left: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.schedulerOmniWrapperModal .borderDBCflow{
  height: 1px;
  background-color: #D8D8D8;
  margin-left: 3%;
  width: 94%;
}
.schedulerOmniWrapperModal .buttonSubmit2{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8%;
  padding-bottom: 2%;
}
