.errorTopDiv{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.errorTopDiv img{
    width: 14px;

}

.errorTopDiv p{
    color: red;
    font-size: 12px;
    position: relative;
    top: 1px;  
}