.wpsettingPageWrapper .schedulerSettingPageWp{
    display: flex;


}
.wpsettingPageWrapper .scheduleSettingwp{
    width: 70%;
    margin-left: 1%;
    margin-right: 1%;
}
.wpsettingPageWrapper .previewWp{
    width: 30%;
    height: 65vh;
    margin-right: 1%;
}

.breadcrum-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0px 20px 0px 25px;
    margin-bottom: 20px !important;
}