.fullscreen {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  h1 {
    color: var(--primary-grey);
    font-weight: 800;
    margin: 30px;
  }
  h2 {
    color: rgb(217, 217, 217);
    margin: 10px;
  }
  button {
    all: unset;
    background-color: var(--secondary-grey);
    color: var(--primary-grey);
    cursor: pointer;
    height: 30px;
    padding: 5px;
    border-radius: 7px;
  }
}
