.downloadcompoennetwrapper {
  input {
    scale: 0.8;
    margin-left: 1.5em;
    
  }
  width: 260px;
  margin: auto;
  font-size: 14px;

  color: var(--primary-grey);
  .eachoptions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .5em;
    .inputareadiv {
      padding-top: 3px;
      padding-bottom: 3px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        margin: 0;
        margin-left: 0.5em;
      }
    }
  }

  .blueclorbtn {
    border-style: none;
    outline-style: none;
    color: white;
    background-color: var(--primary-color);
    border-radius: 2px;
    padding: 0.2em 0.7em;
    margin-left: 2em;
    margin-top: 1em;
    cursor: pointer;
  }
  .formates {
    color: var(--primary-color);
    margin-left: 1.6em;
    margin-bottom: .1 em;
    margin-top: .3em;
  }
  .formatsdivopt {
    display: flex;

    flex-direction: column;
    .formatsofinput {
      display: flex;

      align-items: center;
      padding-top: 3px;
      padding-bottom: 3px;
      margin-top: .5em;
      p {
        margin-left: 0.5em;
      }
    }
  }
  .tooltip {
    margin-right: 1.2em;
    position: relative;
    display: inline-block;
    box-shadow: rgba(16, 16, 16, 0.1) 5px 100px 240px;

    &:hover .tooltiptext {
      visibility: visible;
      width: 280px;
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    }
    .tooltiptext {
      visibility: hidden;
      width: 365px;
      background-color: white;
      color: black;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 10;
      top: 22px;
      left: -260px;
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);

      &::after {
        content: "";
        position: absolute;
        top: -7px;
        right: 0.45em;
        margin-top: -5px;
        border-width: 7px;
        border-style: solid;
        border-color: transparent rgb(255, 255, 255) transparent transparent;
        z-index: 101;
        transform: rotate(90deg);
      }
      .tooltipteaxt-div {
        padding: 0.5em;
        padding-left: 1em;

        .tooltiptext-head {
          color: var(--primary-color);
          margin: 0;
          font-weight: bold;
          text-align: left;
        }
        .tooltiptext-about {
          margin: 0;
          text-align: left;
        }
      }
    }
  }
}

.eachoptionsblue{
  background-color:#DDECFF;
  ;
}
.formatsofinputblue{
  background-color: #DDECFF;
}