.tableRPWrapper{
    width: 100%;
}
.tableRPWrapper .rzpTable{
    width: 100%;
    text-align: center;
    height: 60vh;
    overflow: auto; 
}
.tableRPWrapper table{
    width: 100%;
    border-collapse: collapse;
    border-bottom:  0.59559px solid #D8D8D8;

}
.tableRPWrapper .tableRHRP{
    /* width:100%; */
    background: #E6EAF8;
    height: 3vh;
    box-shadow: 2.99236px 0px 2.99236px rgba(0, 0, 0, 0.1);
    border-bottom:  0.59559px solid #D8D8D8;

}
.tableRPWrapper .tableRP tr th{
    border: none;
    border-right:  0.59559px solid #D8D8D8;
    padding: 11px 5px;
    min-width: 90px;
}
.tableRPWrapper .tableRP tr td{
    border: none;
    border-right:  0.59559px solid #D8D8D8;
    padding: 11px 3px;
    font-size: 16px;
    font-weight: 500;
}

.tableRPWrapper .tableRHRPSNo{
    width: 3%;
}


.tableRPWrapper .tableRHRPID{
    width: 11%;
}

.tableRPWrapper .tableRHRPAmount{
    width: 10%;
}
.tableRPWrapper .tableRHRPStatus{
    width: 10%;
}
.tableRPWrapper .tableRHRPContact{
    width: 12%;
}

/* .tableRPWrapper .tableRHRPError{
    width: 54%;
} */


/* .realTablePaginationPosi{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -10px;
    z-index: 9;
} */

