.titleofilter{
    display: flex;
    justify-content: flex-start;
    color:var(--primary-color);
    padding-left: 1em;
    }
    .titletext{
      color:inherit;
      margin: 0;
      margin-left: .8em;
      margin-top:7px;
      margin-bottom: 7px;
      font-size: 14px;
     
    }
    .divide{
      border: .5px solid var(--secondary-grey);
    }