

@keyframes  loader {

	0% {
		width: 0;
	}

	20% {
		width: 10%;
	}

	25% {
		width: 50%;
	}

	30% {
		width: 80%;
	}

	50% {
		width: 100%;
	}
  100%{
    width: 100%;
  }

	/* 66% {
		width: 52%;
	} */

	/* 71% {
		width: 60%;
	}

	75% {
		width: 76%;
    
	}

	94% {
		width: 86%;
	}

	100% {
		width: 100%;
	} */

}


.callingabhiWrapper .progress-barr {
	border-radius: 60px;
	overflow: hidden;
  width: 300px
}
.callingabhiWrapper .progress-barr span {
  display: block;
}

.callingabhiWrapper .bar {
  background:rgba(0,0,0,0.075);
  width: 100%
}

.callingabhiWrapper .progress {
  animation: loader 2s ease infinite;
  background: #75b800;
  color: #fff;
  padding: 5px;;
  width: 0;
}


.callingabhiWrapper .progress-bar {
  /* left: 50%; */
  max-width: 100%;
  /* position: absolute; */
  /* top: 50%; */
  /* transform: translate3d(-50%,-50%,0); */
}
  