.navigationChannelWrapper .navOuter{
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 18px;
text-align: center;

}
.navigationChannelWrapper .highlightNav{
color: #0174FF;
padding-bottom: 0.6%;
border-bottom: 4px solid #0174FF;
cursor: pointer;
}
.navigationChannelWrapper .navName{
    color: #000000;
    cursor: pointer;
}