.userCredentialsOneForm{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userCredentials{
    width: 100%;
    border: none;
    outline: none;
}

.selectedNotValidated{
    border: 1px solid red;
}
.selectedValidated{
    border: 0.906992px solid #000000;
}

.formGroupUCF{
    padding-right: 10px;
}
.emailBoxLargerUCF{
    flex: 1 1 33%;
}

.extraStyleClassUCF{
    padding: 11px 5px;
}