.calendarSaarthiTopdiv {
  position: absolute;
  top: 130px;
  left: 320px;
  padding: 10px 20px;
  background: #ffffff;
  box-shadow: 0px 96.7895px 77.4316px rgba(36, 69, 152, 0.05),
    0px 48.9997px 33.7554px rgba(36, 69, 152, 0.03375),
    0px 19.3579px 12.5826px rgba(36, 69, 152, 0.025),
    0px 4.23454px 4.47652px rgba(36, 69, 152, 0.01625);
  border-radius: 25px;
  z-index: 2;
}

.calendarSelectDateRange {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}

.summitDateRange {
  text-align: center;
}

.calendarViewResultButton {
  padding: 3px 15px;
  font-weight: bold;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  width: 170px !important;
  background: #ddecff;
  box-sizing: border-box;
  border-radius: 5px;
}
